<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Knowledge Base HTML Template</title>
  <link rel="icon" href="/static/knowledgebase/assets/img/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <script src="/static/knowledgebase/assets/js/jquery.js"></script>
  <link rel="stylesheet" href="/static/knowledgebase/assets/css/main.css" />
  <script src="/static/knowledgebase/assets/js/uikit.js"></script>
  <script src="/static/knowledgebase/assets/js/uikit-icons.js"></script>
  <script src="/static/knowledgebase/assets/js/main.js"></script>
</head>
