<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Responsive bootstrap 4 admin template" name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="/static/admin/assets/images/favicon.ico">
  <link href="/static/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
  <link href="/static/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
</head>
