<!DOCTYPE html>
<html lang="en">
    {% include "admin-head.html" %}
    <body data-layout="horizontal">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Navigation Bar-->
            <header id="topnav">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <div class="container-fluid">
                        <ul class="list-unstyled topnav-menu float-right mb-0">

                            <li class="dropdown notification-list">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>




                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="/static/admin/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                    <span class="pro-user-name d-none d-xl-inline-block ml-2">
                                                            Maxine K  <i class="mdi mdi-chevron-down"></i>
                                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-outline"></i>
                                        <span>Profile</span>
                                    </a>


                                    <div class="dropdown-divider"></div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout-variant"></i>
                                        <span>Logout</span>
                                    </a>

                                </div>
                            </li>

                        </ul>

                        <!-- LOGO -->
                        <div class="logo-box">
                            <a href="/" class="logo text-center">
                                <span class="logo-lg">
                                        <img src="/static/admin/assets/images/logo-light.png" alt="" height="26">
                                        <!-- <span class="logo-lg-text-light">Simple</span> -->
                                </span>
                                <span class="logo-sm">
                                        <!-- <span class="logo-sm-text-dark">S</span> -->
                                <img src="/static/admin/assets/images/logo-sm.png" alt="" height="22">
                                </span>
                            </a>
                        </div>

                        <div id="navigation">
                            <!-- Navigation Menu-->
                            <ul class="navigation-menu">

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>SDM</a>
                                  <ul class="submenu">
                                    <li><a href="/">SDM landing</a></li>
                                    <li><a href="pages-login.html">4way</a></li>
                                    <li><a href="pages-login.html">topics</a></li>
                                    <li><a href="pages-login.html">articals</a></li>
                                    <li><a href="pages-login.html">techarticals</a></li>
                                    <li><a href="pages-login.html">coretech</a></li>
                                    <li><a href="pages-login.html">dictionery</a></li>
                                    <li><a href="pages-login.html">settings</a></li>
                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>Press</a>
                                  <ul class="submenu">
                                      <li><a href="/press">Press landing</a></li>
                                      <li><a href="/press/knowledgebase">Press Knowledgebase</a></li>
                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>Embedded Data</a>
                                  <ul class="submenu">
                                      <li><a href="/data">data</a></li>
                                      <li><a href="/wolfram">wolfram</a></li>
                                      <li><a href="/jupyter">jupyter</a></li>

                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>Help</a>
                                  <ul class="submenu">
                                      <li><a href="/admin/knowledgebase">Admin Knowledgebase</a></li>

                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>CMS</a>
                                  <ul class="submenu">
                                      <li><a href="/admin/cmseditor">editor</a></li>

                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>_pages</a>
                                  <ul class="submenu">
                                      <li><a href="/admin/login">Login</a></li>
                                      <li><a href="/admin/404">Error 404</a></li>
                                      <li><a href="/admin/sessionexpired">Session Expired</a></li>
                                  </ul>
                              </li>

                              <li class="has-submenu">
                                  <a href="#"> <i class="ti-files"></i>widgets</a>
                                  <ul class="submenu">
                                      <li><a href="/lib/calc">Calc</a></li>
                                      <li><a href="/lib/datepicker">Datepicker</a></li>
                                      <li><a href="/lib/colorpicker">Colorpicker</a></li>
                                      <li><a href="/lib/texteditor">Textpicker</a></li>
                                      <li><a href="/lib/splitterpanel">Spitterpanel</a></li>
                                  </ul>
                              </li>

                            </ul>
                            <!-- End navigation menu -->

                            <div class="clearfix"></div>
                        </div>
                        <!-- end #navigation -->

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end Topbar -->
            </header>
            <!-- End Navigation Bar-->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start container-fluid -->
                    <div class="container-fluid">

                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <div class="card-box widget-inline">
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-6 widget-inline-box">
                                                <div class="text-center p-3">
                                                    <h2 class="mt-2"><i class="text-primary mdi mdi-access-point-network mr-2"></i> <b>8954</b></h2>
                                                    <p class="text-muted mb-0">Lifetime total sales</p>
                                                </div>
                                            </div>

                                            <div class="col-xl-3 col-sm-6 widget-inline-box">
                                                <div class="text-center p-3">
                                                    <h2 class="mt-2"><i class="text-teal mdi mdi-airplay mr-2"></i> <b>7841</b></h2>
                                                    <p class="text-muted mb-0">Income amounts</p>
                                                </div>
                                            </div>

                                            <div class="col-xl-3 col-sm-6 widget-inline-box">
                                                <div class="text-center p-3">
                                                    <h2 class="mt-2"><i class="text-info mdi mdi-black-mesa mr-2"></i> <b>6521</b></h2>
                                                    <p class="text-muted mb-0">Total users</p>
                                                </div>
                                            </div>

                                            <div class="col-xl-3 col-sm-6">
                                                <div class="text-center p-3">
                                                    <h2 class="mt-2"><i class="text-danger mdi mdi-cellphone-link mr-2"></i> <b>325</b></h2>
                                                    <p class="text-muted mb-0">Total visits</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end row -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h5 class="mt-0 font-14">Total Revenue</h5>
                                    <div class="text-center">
                                        <ul class="list-inline chart-detail-list">
                                            <li class="list-inline-item">
                                                <p class="font-weight-semibold"><i class="fa fa-circle mr-2 text-primary"></i>Series A</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <p class="font-weight-semibold"><i class="fa fa-circle mr-2 text-muted"></i>Series B</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="dashboard-bar-stacked" class="morris-chart" dir="ltr"  style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h5 class="mt-0 font-14">Sales Analytics</h5>
                                    <div class="text-center">
                                        <ul class="list-inline chart-detail-list">
                                            <li class="list-inline-item">
                                                <p class="font-weight-semibold"><i class="fa fa-circle mr-2 text-primary"></i>Mobiles</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <p class="font-weight-semibold"><i class="fa fa-circle mr-2 text-info"></i>Tablets</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="dashboard-line-chart" class="morris-chart" dir="ltr" style="height: 300px;"></div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h5 class="mt-0 font-14 mb-3">Contacts</h5>
                                    <div class="table-responsive">
                                        <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                                            <thead>
                                                <tr>
                                                    <th style="min-width: 95px;">

                                                        <div class="checkbox checkbox-single checkbox-primary">
                                                            <input type="checkbox" class="custom-control-input" id="action-checkbox">
                                                            <label class="custom-control-label" for="action-checkbox">&nbsp;</label>
                                                        </div>
                                                    </th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Products</th>
                                                    <th>Start Date</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox2" type="checkbox">
                                                            <label for="checkbox2"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Tomaslau
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">tomaslau@dummy.com</a>
                                                    </td>

                                                    <td>
                                                        <b><a href="" class="text-dark"><b>356</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        01/11/2003
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox1"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-1.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Chadengle
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">chadengle@dummy.com</a>
                                                    </td>

                                                    <td>
                                                        <b><a href="" class="text-dark"><b>568</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        01/11/2003
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox3" type="checkbox">
                                                            <label for="checkbox3"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Stillnotdavid
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">stillnotdavid@dummy.com</a>
                                                    </td>
                                                    <td>
                                                        <b><a href="" class="text-dark"><b>201</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        12/11/2003
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox4" type="checkbox">
                                                            <label for="checkbox4"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-4.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Kurafire
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">kurafire@dummy.com</a>
                                                    </td>

                                                    <td>
                                                        <b><a href="" class="text-dark"><b>56</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        14/11/2003
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox5" type="checkbox">
                                                            <label for="checkbox5"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Shahedk
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">shahedk@dummy.com</a>
                                                    </td>

                                                    <td>
                                                        <b><a href="" class="text-dark"><b>356</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        20/11/2003
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="checkbox checkbox-primary mr-2 float-left">
                                                            <input id="checkbox6" type="checkbox">
                                                            <label for="checkbox6"></label>
                                                        </div>

                                                        <img src="/static/admin/assets/images/users/avatar-6.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                    </td>

                                                    <td>
                                                        Adhamdannaway
                                                    </td>

                                                    <td>
                                                        <a href="#" class="text-muted">adhamdannaway@dummy.com</a>
                                                    </td>

                                                    <td>
                                                        <b><a href="" class="text-dark"><b>956</b></a>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        24/11/2003
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- end container-fluid -->



                    <!-- Footer Start -->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    &copy; 2020 SDM
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- end Footer -->

                </div>
                <!-- end content -->

            </div>
            <!-- END content-page -->

        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script src="/static/admin/assets/js/vendor.min.js"></script>

        <script src="/static/admin/assets/libs/morris-js/morris.min.js"></script>
        <script src="/static/admin/assets/libs/raphael/raphael.min.js"></script>

        <script src="/static/admin/assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="/static/admin/assets/js/app.min.js"></script>

    </body>

</html>
