<head>
  <title>sdm</title>
  <link rel="stylesheet" type="text/css" href="/static/dist/semantic.css">
  <script src="/static/dist/semantic.js"></script>
  <script src="/static/assets/library/jquery.min.js"></script>
  <script src="/static/assets/library/math.min.js"></script>
  <script src="/static/assets/library/voca.min.js"></script>
  <script src="/static/assets/library/locache.min.js"></script>
  <script src="/static/assets/library/navigo.min.js"></script>
  <script src="/static/assets/library/tiny-stack.min.js"></script>
  <script src="/static/assets/library/is.min.js"></script>
  <script src="/static/assets/library/base64.min.js"></script>
  <script src="/static/assets/library/underscore.min.js"></script>
  <script src="/static/assets/library/utils.js"></script>
  <script src="/static/assets/library/brython.js"></script>
  <script src="/static/assets/library/head-logic.js"></script>
</head>
