<!DOCTYPE html>
<html>
{% include "press-head.html" %}
<body id="mainsite">
  <header id="header-section" class="hide-on-mobile">
    <div class="grid-container">
      <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
        <div class="site-branding grid-30 mobile-grid-100 tablet-grid-100">
          <a href="/press"><h1 style="text-transform: none;">< Press</h1></a>
        </div>
      </div>
    </div>
  </header>
	<section id="information-section" class="information-section">
    <br><br><br><br>
		<div class="grid-container">
  		<div class="grid-33 mobile-grid-100 tablet-grid-50 info">
        <i class="icon-time icon-4x main-icon"></i>
        <h3>Responsive Layout</h3>
        <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
        <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
  		</div>
    		<div class="grid-33 mobile-grid-100 tablet-grid-50 info">
          <i class="icon-globe icon-4x main-icon"></i>
          <h3>Retina Icons</h3>
          <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
          <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
    		</div>
  			<div class="grid-33 mobile-grid-100 tablet-grid-50 info">
          <i class="icon-bar-chart icon-4x main-icon"></i>
          <h3>Parallax Scrolling</h3>
          <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
          <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
  			</div>
        <div class="clear hide-on-mobile hide-on-tablet"></div>
        <div class="grid-33 mobile-grid-100 tablet-grid-50 info">
          <i class="icon-asterisk icon-4x main-icon"></i>
          <h3>Browser Compatibility</h3>
          <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
          <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
        </div>
        <div class="grid-33 mobile-grid-100 tablet-grid-50 info">
          <i class="icon-folder-open icon-4x main-icon"></i>
          <h3>Built-in Backgrounds</h3>
          <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
          <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
        </div>
        <div class="grid-33 mobile-grid-100 tablet-grid-50 info">
          <i class="icon-hdd icon-4x main-icon"></i>
          <h3>Fast & Friendly Support</h3>
          <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper.<p>
          <a class="learn-more" href="#"><i class="icon-li icon-chevron-sign-right"></i>Learn more</a>
        </div>
		</div>
	</section>
  <footer class="footer">
    <div class="grid-container">
    <div class="grid-50 prefix-25 mobile-grid-100 tablet-grid-100">
    <div class="site-branding">
      </div>
        <ul class="social-icons clearfix">
            <li>
            <a href="">
            <span class="icon-stack">
              <i class="icon-circle-blank icon-stack-base"></i>
              <i class="icon-facebook"></i>
            </span>
            </a>
            </li>
            <li>
            <a href="">
            <span class="icon-stack">
              <i class="icon-circle-blank icon-stack-base"></i>
              <i class="icon-twitter"></i>
            </span>
            </a>
            </li>
            <li>
            <a href="">
            <span class="icon-stack">
              <i class="icon-circle-blank icon-stack-base"></i>
              <i class="icon-linkedin"></i>
            </span>
            </a>
            </li>
        </ul>
        <p class="copyright">Copyright &copy; 2020 <a href="/">SDM</a><br>All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>
