<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

{% include "press-knowledgebase-head.html" %}

<body>
    <div class="section-hero uk-background-blend-color-burn uk-background-top-center uk-background-cover uk-section-large1 cta" style="background-image: url(/static/knowledgebase/assets/img/city.jpg)" >
        <nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light">
            <div class="uk-container">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo uk-text-uppercase" href="/press">< Press</a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-text-uppercase uk-visible@m uk-margin-medium-left">
                            <li><a href="/press/knowledgebase">Home</a></li>
                            <li>
                                <a href="/press/knowledgebase/article">Article</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/press/knowledgebase/article">Scrollspy</a></li>
                                        <li><a href="/press/knowledgebase/article-narrow">Narrow</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="/press/knowledgebase/faq">Faq</a></li>
                            <li><a href="/press/knowledgebase/contact">Contact</a></li>
                            <li><a href="/press/knowledgebase/components">Components</a></li>
                        </ul>
                        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="uk-container hero">
            <h1 class="uk-heading-primary uk-text-center uk-margin-large-top uk-light">Create a Knowledge Base with Ease</h1>
            <p class="uk-text-lead uk-text-center uk-light">Lead volutpat nibh ligula gravida. Magna auctor eget venenatis phasellus luctus sodales pulvinar</p>
            <div class="uk-flex uk-flex-center">
                <form class="uk-margin-medium-top uk-margin-xlarge-bottom uk-search uk-search-default">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input id="autocomplete" class="uk-search-input uk-form-large" type="search" autocomplete="off" name="s" placeholder="Enter search term here">
                </form>
            </div>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-child-width-1-3@s uk-grid-match uk-grid-medium uk-text-center" uk-grid>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Quick Setup</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Administration Panel</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Product Options</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Video Tutorials</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Customization</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Shipping Methods</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Product Feedback</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Freaqently Asked Questions</h3>
                    </a>
                </div>
                <div>
                    <a href="/press/knowledgebase/category" class="box uk-border-rounded">
                        <h3>Release Notes</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-padding-remove-top uk-padding-remove-bottom">
        <div class="uk-container">
            <hr>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-child-width-1-2@s text-dark" uk-grid>
                <div>
                    <h3>Popular Articles</h3>
                    <ul class="uk-list uk-list-large uk-list-divider link-icon-right">
                        <li><a href="/press/knowledgebase/article">Voluptatem accusantium doloremque laudan rem aperiam</a></li>
                        <li><a href="/press/knowledgebase/article">Sorem do eiusmod tempor incididunt dolore magna aliqua</a></li>
                        <li><a href="/press/knowledgebase/article">Lorem ipsum dolor sit amet elit sed do eiusmod</a></li>
                        <li><a href="/press/knowledgebase/article">Sed ut perspiciatis unde omnis iste natus error sit aperiam</a></li>
                        <li><a href="/press/knowledgebase/article">Lorem ipsum dolor sit amet, consectetur adipiscing sed iusmod</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Recent Articles</h3>
                    <ul class="uk-list uk-list-large uk-list-divider link-icon-right">
                        <li><a href="/press/knowledgebase/article">Lorem ipsum dolor sit ut labore et dolore magna aliqua</a></li>
                        <li><a href="/press/knowledgebase/article">Sed ut perspiciatis unde omnis iste natus err aperiam</a></li>
                        <li><a href="/press/knowledgebase/article">Consectetur adipiscing elit sed do eiusmod</a></li>
                        <li><a href="/press/knowledgebase/article">Donseced do eiusmod tempor incididunt ut labore magna aliqua</a></li>
                        <li><a href="/press/knowledgebase/article">Sed utem accusantium doloremque laudantium totam</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

        <div class="uk-section uk-padding-remove section-cta uk-background-blend-lighten uk-background-center-center uk-background-cover uk-text-center" style="background-image: url(/static/knowledgebase/assets/img/cafe.jpg)" >
            <div class="uk-background-muted1 uk-border-rounded1 uk-padding-large">
                <h2>Can't find what you're looking for?</h2>
                <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <p class="uk-margin-medium-top">
                    <a href="/press/knowledgebase/contact" class="uk-button uk-button-primary uk-button-large">Contact Support</a>
                </p>
            </div>
        </div>

    <footer id="footer" class="uk-section uk-margin-remove uk-section-xsmall uk-text-small uk-text-muted border-top">
        <div class="uk-container">
            <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
                <div class="uk-flex-first@m uk-text-left@m">
                    <p class="uk-text-small">Copyright 2020 SDM</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <a class="uk-margin-small-bottom uk-logo uk-text-uppercase" href="/press/knowledgebase"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Knowledge</a>
            <ul class="uk-nav uk-nav-default uk-text-uppercase">
                <li><a href="/press/knowledgebase">Home</a></li>
                <li class="uk-parent">
                    <a href="/press/knowledgebase/article">Article</a>
                    <ul class="uk-nav-sub">
                        <li><a href="/press/knowledgebase/article">Scrollspy</a></li>
                        <li><a href="/press/knowledgebase/article-narrow">Narrow</a></li>
                    </ul>
                </li>
                <li><a href="/press/knowledgebase/faq">Faq</a></li>
                <li><a href="/press/knowledgebase/contact">Contact</a></li>
                <li><a href="/press/knowledgebase/components">Components</a></li>
            </ul>
            <a href="/press/knowledgebase/contact" class="uk-button uk-button-small uk-button-default uk-width-1-1 uk-margin">Support</a>
            <div class="uk-width-auto uk-text-center">
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: google"></a>
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
            </div>
        </div>
    </div>

</body>

</html>
