<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

{% include "press-knowledgebase-head.html" %}

<body>

    <nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-background-primary uk-light uk-margin-remove-bottom">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo uk-text-uppercase" href="/press/knowledgebase"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Knowledge</a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-text-uppercase uk-visible@m uk-margin-medium-left">
                        <li><a href="/press/knowledgebase">Home</a></li>
                        <li>
                            <a href="/press/knowledgebase/article">Article</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/press/knowledgebase/article">Scrollspy</a></li>
                                    <li><a href="/press/knowledgebase/article-narrow">Narrow</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/press/knowledgebase/faq">Faq</a></li>
                        <li><a href="/press/knowledgebase/contact">Contact</a></li>
                        <li><a href="/press/knowledgebase/components">Components</a></li>
                    </ul>
                    <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="uk-section section-sub-nav uk-padding-remove">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-2-3@m">
                    <ul class="uk-breadcrumb uk-visible@m">
                        <li><a href="/press/knowledgebase">Home</a></li>
                        <li><span href="">Account Management</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-3@m">
                    <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                            <input id="autocomplete" class="uk-search-input" type="search" autocomplete="off" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
            <div class="border-top"></div>
        </div>
    </div>

    <div class="uk-section uk-section-small uk-padding-remove-bottom section-content">
        <div class="uk-container">
            <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-3-4@m uk-flex-last@m">
                    <h1>Account Management</h1>
                    <p class="uk-text-lead uk-margin-medium-bottom">Managing your account, creating new users, security and exporting data</p>
                    <ul class="uk-list list-category link-icon-right">
                        <li>
                            <h3><a href="/press/knowledgebase/article">Manage payment settings and invoices</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Transfer account ownership</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Downloadable product</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Pricing and plans guide</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Setting your company office hours</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Shipping components</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Increasing server memory</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Shipping Methods</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Fully Responsive Design</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Downloadable product</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Increasing Memory</span></a></h3>
                        </li>
                        <li>
                            <h3><a href="/press/knowledgebase/article">Multiple installs on one domain</span></a></h3>
                        </li>
                    </ul>
                    <ul class="uk-pagination uk-margin-medium-top" uk-margin>
                        <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
                        <li class="uk-margin-auto-left"><a href="#">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m text-dark sidebar">
                    <h3>Categories</h3>
                    <ul class="uk-list uk-list-large uk-margin-medium-bottom">
                        <li><a href="#">Getting Started</a></li>
                        <li><a class="uk-text-bold" href="#">Account Management</a> <span uk-icon="icon: chevron-right"></span></li>
                        <li><a href="#">Admin Panel</a></li>
                        <li><a href="#">Extensions</a></li>
                        <li><a href="#">Shipping Methods</a></li>
                        <li><a href="#">Tips and Tricks</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                        <li><a href="#">Video Tutorials</a></li>
                    </ul>
                    <h3>Related Articles</h3>
                    <ul class="uk-list uk-list-large">
                        <li><a href="/press/knowledgebase/article">Setting up attributes</a></li>
                        <li><a href="/press/knowledgebase/article">Shipping Options Page</a></li>
                        <li><a href="/press/knowledgebase/article">Extensions Setup</a></li>
                        <li><a href="/press/knowledgebase/article">Shipping Methods</a></li>
                        <li><a href="/press/knowledgebase/article">Tips and Tricks</a></li>
                        <li><a href="/press/knowledgebase/article">Troubleshooting Site</a></li>
                        <li><a href="/press/knowledgebase/article">Video Tutorials</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="uk-section uk-margin-large-top uk-section-xsmall uk-text-small uk-text-muted border-top">
        <div class="uk-container">
            <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
                <div class="uk-flex-first@m uk-text-left@m">
                    <p class="uk-text-small">Copyright 2020 SDM</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <a class="uk-margin-small-bottom uk-logo uk-text-uppercase" href="/press/knowledgebase"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Knowledge</a>
            <ul class="uk-nav uk-nav-default uk-text-uppercase">
                <li><a href="/press/knowledgebase">Home</a></li>
                <li class="uk-parent">
                    <a href="/press/knowledgebase/article">Article</a>
                    <ul class="uk-nav-sub">
                        <li><a href="/press/knowledgebase/article">Scrollspy</a></li>
                        <li><a href="/press/knowledgebase/article-narrow">Narrow</a></li>
                    </ul>
                </li>
                <li><a href="/press/knowledgebase/faq">Faq</a></li>
                <li><a href="/press/knowledgebase/contact">Contact</a></li>
                <li><a href="/press/knowledgebase/components">Components</a></li>
            </ul>
            <a href="/press/knowledgebase/contact" class="uk-button uk-button-small uk-button-default uk-width-1-1 uk-margin">Support</a>
            <div class="uk-width-auto uk-text-center">
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: google"></a>
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
            </div>
        </div>
    </div>

</body>

</html>
