<head>
	<title>Landing Page</title>
  <link rel="stylesheet" href="/static/press/css/reset.css">
  <link rel="stylesheet" href="/static/press/css/ut-fontface.css">
  <link rel="stylesheet" href="/static/press/css/font-awesome.css">
	<link rel="stylesheet" href="/static/press/css/flexslider.css">
  <link rel="stylesheet" href="/static/press/css/ut-responsive-grid.css">
  <link rel="stylesheet" href="/static/press/css/style.css">
	<link rel="shortcut icon" href="/static/press/images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/press/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/press/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/press/images/apple-touch-icon-114x114.png">
  <script src="/static/press/js/jquery.min.js"></script>
	<script src="/static/press/js/modernizr.js"></script>
  <script src="/static/press/js/respond.src.js"></script>
</head>
