<head>
	<title>SDM</title>
	<link rel="icon" type="image/png" href="/static/dark-landing/images/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/dark-landing/css/bootstrap.min.css" />
	<link href="/static/dark-landing/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/dark-landing/icomoon/style.css">
	<link rel="stylesheet" type="text/css" href="/static/dark-landing/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/static/dark-landing/css/margins-paddings.css"/>
</head>
