<head>
  <title>Welcome</title>
  <link rel='stylesheet' type='text/css' href='/static/coretech/userguide.css' />
  <script type="text/javascript" src="/static/coretech/nav/nav.js"></script>
  <script type="text/javascript" src="/static/coretech/nav/prototype.lite.js"></script>
  <script type="text/javascript" src="/static/coretech/nav/moo.fx.js"></script>
  <script type="text/javascript" src="/static/coretech/nav/user_guide_menu.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
  <script type="text/javascript" src="/static/assets/library/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/library/brython.js"></script>
  <link rel='stylesheet' type='text/css' href='/static/cmssystem/cms.css' />
  <script>hljs.initHighlightingOnLoad();</script>
</head>
