/*
Template Name: Simple - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 2.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Dark Css File
*/
@import url("https://fonts.googleapis.com/css?family=Hind:500,600|Noto+Sans:400,700&display=swap");
html {
  position: relative;
  min-height: 100%; }

body {
  overflow-x: hidden; }

.metismenu {
  padding: 0; }
  .metismenu li {
    list-style: none; }
  .metismenu ul {
    padding: 0; }
    .metismenu ul li {
      width: 100%; }
  .metismenu .mm-collapse:not(.mm-show) {
    display: none; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px;
  color: #6d868c;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .nav-second-level li a:focus, .nav-second-level li a:hover,
  .nav-thrid-level li a:focus,
  .nav-thrid-level li a:hover {
    color: #c8cddc; }

.nav-second-level li.mm-active > a,
.nav-third-level li.mm-active > a {
  color: #c8cddc; }

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  background: #2c3e48; }

.content-page {
  margin-left: 240px;
  border-left: 7px solid #24333c; }
  .content-page .content {
    padding: 20px 15px 80px 15px;
    min-height: 1040px;
    position: relative; }

.left-side-menu {
  width: 240px;
  background: #2c3e48;
  bottom: 0;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: 70px; }

#sidebar-menu > ul > li > a {
  color: #6d868c;
  display: block;
  padding: 12px 20px;
  margin: 2px 0px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px; }
  #sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
    color: #c8cddc;
    text-decoration: none;
    background-color: #24333b; }
  #sidebar-menu > ul > li > a > span {
    vertical-align: middle; }
  #sidebar-menu > ul > li > a i {
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    font-size: 18px; }
  #sidebar-menu > ul > li > a .drop-arrow {
    float: right; }
    #sidebar-menu > ul > li > a .drop-arrow i {
      margin-right: 0; }

#sidebar-menu > ul > li > a.active {
  color: #c8cddc; }

#sidebar-menu > ul > li > ul {
  padding-left: 37px; }
  #sidebar-menu > ul > li > ul ul {
    padding-left: 20px; }

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
  #sidebar-menu .menu-arrow:before {
    content: "\F142"; }

#sidebar-menu .badge {
  margin-top: 4px; }

#sidebar-menu li.mm-active > a > span.menu-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

#sidebar-menu .menu-title {
  padding: 10px 20px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #6d868c;
  font-weight: 600; }

.enlarged .logo-box {
  width: 70px !important; }

.enlarged .logo span.logo-lg {
  display: none; }

.enlarged .logo span.logo-sm {
  display: block; }

.enlarged .left-side-menu {
  position: absolute;
  padding-top: 0;
  width: 70px !important;
  z-index: 5; }
  .enlarged .left-side-menu .slimScrollDiv,
  .enlarged .left-side-menu .slimscroll-menu {
    overflow: inherit !important;
    height: auto !important; }
  .enlarged .left-side-menu .slimScrollBar {
    visibility: hidden; }
  .enlarged .left-side-menu #sidebar-menu .menu-title,
  .enlarged .left-side-menu #sidebar-menu .menu-arrow,
  .enlarged .left-side-menu #sidebar-menu .label,
  .enlarged .left-side-menu #sidebar-menu .badge {
    display: none !important; }
  .enlarged .left-side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .enlarged .left-side-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 54px;
      -webkit-transition: none;
      transition: none; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a:hover, .enlarged .left-side-menu #sidebar-menu > ul > li > a:active, .enlarged .left-side-menu #sidebar-menu > ul > li > a:focus {
        color: #c8cddc; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a i {
        font-size: 1.125rem;
        margin-right: 20px; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(190px + 70px);
      background: #283942;
      color: #c8cddc;
      -webkit-transition: none;
      transition: none; }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover a.open :after, .enlarged .left-side-menu #sidebar-menu > ul > li:hover a.mm-active :after {
      display: none; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important; }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul ul {
        -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
                box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6; }
        .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #c8cddc; }
  .enlarged .left-side-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #283942;
    margin-top: -2px; }
    .enlarged .left-side-menu #sidebar-menu > ul ul li:hover > ul {
      display: block;
      left: 190px;
      margin-top: -36px;
      height: auto !important;
      position: absolute;
      width: 190px; }
    .enlarged .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .enlarged .left-side-menu #sidebar-menu > ul ul li.active a {
      color: #c8cddc; }

.enlarged .content-page {
  margin-left: 70px !important; }

.enlarged .footer {
  left: 70px !important; }

.enlarged .user-box {
  display: none; }

@media (max-width: 768px) {
  #wrapper {
    width: 100% !important; } }

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden; }
  .navbar-custom {
    position: fixed; }
  .left-side-menu {
    display: none;
    z-index: 10 !important; }
  .sidebar-enable .left-side-menu {
    display: block;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15); }
  .content-page, .enlarged .content-page {
    margin-left: 0 !important;
    padding: 0 10px; }
  .pro-user-name {
    display: none; }
  .logo-box {
    display: none; }
  .content-page {
    border-left: none;
    margin-top: 70px; } }

.left-side-menu-dark .user-box .user-info a {
  color: #2c3e48; }

.left-side-menu-dark .left-side-menu {
  background-color: #fff; }
  .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a {
    color: #9097a7; }
    .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:hover, .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:focus, .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:active {
      color: #458bc4;
      background-color: #fafafa; }
  .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a.active {
    color: #458bc4;
    background-color: #fafafa; }
  .left-side-menu-dark .left-side-menu #sidebar-menu .menu-title {
    color: #9097a7; }
  .left-side-menu-dark .left-side-menu .nav-second-level li a,
  .left-side-menu-dark .left-side-menu .nav-thrid-level li a {
    color: #9097a7; }
    .left-side-menu-dark .left-side-menu .nav-second-level li a:focus, .left-side-menu-dark .left-side-menu .nav-second-level li a:hover,
    .left-side-menu-dark .left-side-menu .nav-thrid-level li a:focus,
    .left-side-menu-dark .left-side-menu .nav-thrid-level li a:hover {
      background-color: transparent;
      color: #458bc4; }
  .left-side-menu-dark .left-side-menu .nav-second-level li > a.active,
  .left-side-menu-dark .left-side-menu .nav-thrid-level li > a.active {
    color: #458bc4; }

.enlarged.left-side-menu-dark #wrapper .navbar-custom {
  -webkit-box-shadow: 70px 1px 0 0 #2c3e48;
          box-shadow: 70px 1px 0 0 #2c3e48; }

.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu > ul li:hover > a {
  background: #fafafa;
  color: #458bc4; }

.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu > ul ul {
  background-color: #fff; }

.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-second-level li > a.active, .enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-second-level li a:focus, .enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-second-level li a:hover,
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-third-level li > a.active,
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-third-level li a:focus,
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-third-level li a:hover {
  color: #458bc4; }

/* =============
  Small Menu
============= */
.left-side-menu-sm .logo-box {
  width: 160px; }

.left-side-menu-sm .left-side-menu {
  width: 160px;
  text-align: center; }
  .left-side-menu-sm .left-side-menu .user-box {
    display: none; }
  .left-side-menu-sm .left-side-menu #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0; }
  .left-side-menu-sm .left-side-menu #sidebar-menu > ul ul {
    padding-left: 0; }
    .left-side-menu-sm .left-side-menu #sidebar-menu > ul ul a {
      padding: 10px 20px; }
  .left-side-menu-sm .left-side-menu .menu-arrow,
  .left-side-menu-sm .left-side-menu .badge {
    display: none !important; }
  .left-side-menu-sm .left-side-menu + .content-page {
    margin-left: 160px; }
  .left-side-menu-sm .left-side-menu + .content-page .footer {
    left: 160px; }

.enlarged.left-side-menu-sm #wrapper .left-side-menu {
  text-align: left; }
  .enlarged.left-side-menu-sm #wrapper .left-side-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px; }

.logo {
  display: block;
  line-height: 70px; }
  .logo span.logo-lg {
    display: block; }
  .logo span.logo-sm {
    display: none; }
  .logo .logo-lg-text-dark {
    color: #dee2e6;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }
  .logo .logo-lg-text-light {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }

.logo-box {
  height: 70px;
  width: 240px;
  float: left; }

.logo-light {
  display: block; }

.logo-dark {
  display: none; }

.user-box {
  min-height: 80px;
  padding: 20px;
  position: relative; }
  .user-box img {
    position: relative;
    height: 48px;
    width: 48px; }
  .user-box .user-info {
    color: #dee2e6;
    margin-left: 60px;
    position: relative;
    z-index: 99999; }
    .user-box .user-info p {
      margin-bottom: 0;
      font-size: 13px; }
    .user-box .user-info a {
      color: #dee2e6;
      display: block;
      font-weight: 600;
      padding-top: 5px; }

.navbar-custom {
  padding: 0 10px 0 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  background: #24333c;
  /* Search */ }
  .navbar-custom .topnav-menu > li {
    float: left; }
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: rgba(222, 226, 230, 0.7);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px; }
  .navbar-custom .topnav-menu-left {
    overflow: hidden; }
  .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, 0.05); }
  .navbar-custom .app-search {
    overflow: hidden;
    height: 70px;
    display: table;
    max-width: 180px;
    margin-right: 20px; }
    .navbar-custom .app-search .app-search-box {
      display: table-cell;
      vertical-align: middle; }
      .navbar-custom .app-search .app-search-box input::-webkit-input-placeholder {
        font-size: 0.8125rem;
        color: rgba(222, 226, 230, 0.8); }
    .navbar-custom .app-search .form-control {
      border: none;
      height: 38px;
      padding-left: 20px;
      padding-right: 0;
      color: #6d868c;
      background-color: #2a3b45;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 30px 0 0 30px; }
    .navbar-custom .app-search .input-group-append {
      margin-left: 0;
      z-index: 4; }
    .navbar-custom .app-search .btn {
      background-color: #2a3b45;
      color: rgba(222, 226, 230, 0.6);
      border-color: transparent;
      border-radius: 0 30px 30px 0;
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
  .navbar-custom .button-menu-mobile {
    border: none;
    color: rgba(222, 226, 230, 0.7);
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer; }
  .navbar-custom .button-menu-mobile.disable-btn {
    display: none; }

/* Notification */
.noti-scroll {
  max-height: 220px; }

.notification-list {
  margin-left: 0; }
  .notification-list .noti-title {
    background-color: transparent;
    padding: 15px 20px; }
  .notification-list .noti-icon {
    font-size: 22px; }
  .notification-list .noti-icon-badge {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 12px; }
  .notification-list .notify-item {
    padding: 12px 20px; }
    .notification-list .notify-item .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      margin-top: 4px;
      margin-right: 10px;
      border-radius: 50%;
      color: #fff; }
    .notification-list .notify-item .notify-details {
      margin-bottom: 0px;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Hind", sans-serif; }
      .notification-list .notify-item .notify-details b {
        font-weight: 500; }
      .notification-list .notify-item .notify-details small {
        display: block; }
      .notification-list .notify-item .notify-details span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px; }
    .notification-list .notify-item .user-msg {
      margin-left: 45px;
      line-height: 16px; }
    .notification-list .notify-item .user-msg, .notification-list .notify-item .noti-time {
      color: #6d868c; }
  .notification-list .inbox-widget .inbox-item {
    padding: 12px 20px; }
  .notification-list .profile-dropdown .notify-item {
    padding: 7px 20px; }

.profile-dropdown {
  min-width: 170px; }
  .profile-dropdown i {
    margin-right: 5px;
    font-size: 16px; }

.noti-dot {
  position: relative;
  top: -45px; }

.pulse {
  width: 2px;
  height: 2px;
  border: 3px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  right: 3px;
  top: -6px; }

.dot {
  border: 4px solid #fff;
  background: 0 0;
  border-radius: 60px;
  height: 30px;
  width: 30px;
  -webkit-animation: pulse 3s ease-out;
          animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  top: -18px;
  right: -9px;
  z-index: 1;
  opacity: 0; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.0; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.0; } }

.nav-user {
  padding: 0 12px !important; }
  .nav-user img {
    height: 32px;
    width: 32px; }

@media (min-width: 1025px) {
  .navbar-custom .button-menu-mobile {
    margin-left: 8px; } }

.topbar-light .navbar-custom .topnav-menu .nav-link {
  color: #ced4da; }
  .topbar-light .navbar-custom .topnav-menu .nav-link.waves-effect.waves-light .waves-ripple {
    background: rgba(222, 226, 230, 0.4); }

.topbar-light .navbar-custom .dropdown.show .nav-link {
  background-color: #24333b; }

.topbar-light .navbar-custom .pulse, .topbar-light .navbar-custom .dot {
  border-color: #458bc4; }

.topbar-light .navbar-custom .notification-list .noti-icon-badge {
  border-color: #2c3e48; }

.topbar-light .navbar-custom .button-menu-mobile {
  color: #ced4da; }

.page-title-box {
  position: relative;
  padding: 0 30px;
  margin: 0 -30px; }
  .page-title-box .page-title {
    font-size: 16px;
    border-bottom: 1px solid rgba(222, 226, 230, 0.2);
    padding-bottom: 12px;
    margin-top: 0px; }
  .page-title-box .nav-pills-custom .nav-item .nav-link {
    padding: 5px 18px;
    border-radius: 20px;
    color: #d57171;
    line-height: 28px; }
    .page-title-box .nav-pills-custom .nav-item .nav-link:focus, .page-title-box .nav-pills-custom .nav-item .nav-link:hover {
      background: #344852; }
    .page-title-box .nav-pills-custom .nav-item .nav-link.active {
      background-color: #fff;
      color: #d57171; }
  .page-title-box .page-title-btn, .page-title-box .page-title-nav-pills {
    margin-top: 18px; }

@media (max-width: 767.98px) {
  .page-title-box .page-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .page-title-box .page-title-btn {
    display: none; } }

.footer {
  border-top: 2px solid #324651;
  bottom: 0;
  padding: 21px 15px 20px;
  position: absolute;
  right: 0;
  color: #ced4da;
  left: 0;
  text-align: center; }

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center; } }

.right-bar {
  background-color: #2c3e48;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 260px;
  z-index: 9999;
  float: right !important;
  right: -270px;
  top: 0;
  bottom: 0; }
  .right-bar .rightbar-title {
    background-color: #458bc4;
    padding: 24px;
    color: #fff; }
  .right-bar .right-bar-toggle {
    background-color: #f2f4f5;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #2c3e48;
    text-align: center;
    border-radius: 50%;
    margin-top: -2px; }
    .right-bar .right-bar-toggle:hover {
      background-color: #fbfcfc; }
  .right-bar .user-box {
    padding: 25px;
    text-align: center; }
    .right-bar .user-box .user-img {
      position: relative;
      height: 64px;
      width: 64px;
      margin: 0 auto 15px auto; }
      .right-bar .user-box .user-img .user-edit {
        position: absolute;
        right: -5px;
        bottom: 0px;
        height: 24px;
        width: 24px;
        background-color: #fff;
        line-height: 24px;
        border-radius: 50%;
        -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); }
    .right-bar .user-box h5 {
      margin-bottom: 2px; }
      .right-bar .user-box h5 a {
        color: #dee2e6; }

.rightbar-overlay {
  background-color: rgba(222, 226, 230, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

.activity-widget .activity-list {
  position: relative;
  border-left: 2px dashed #7a7d84;
  padding-left: 24px;
  padding-bottom: 20px; }
  .activity-widget .activity-list::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: #2c3e48;
    border: 2px solid #458bc4;
    border-radius: 50%; }

body.boxed-layout {
  background-color: #d6e2ff; }
  body.boxed-layout #wrapper {
    background-color: #24333c;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15); }
  body.boxed-layout .navbar-custom {
    max-width: 1300px;
    margin: 0 auto; }
  body.boxed-layout .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px); }
  body.boxed-layout.enlarged .footer {
    max-width: calc(1300px - 70px); }

@media (min-width: 992px) {
  .unsticky-layout .left-side-menu, .unsticky-layout .navbar-custom {
    position: absolute; } }

@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid {
    max-width: 90%; } }

body[data-layout="horizontal"] #wrapper {
  width: 100%; }

body[data-layout="horizontal"] .content-page {
  margin-left: 0 !important;
  margin-top: 70px;
  border: none; }
  @media (max-width: 991px) {
    body[data-layout="horizontal"] .content-page {
      margin-top: 70px;
      border: none; } }

body[data-layout="horizontal"] .footer {
  left: 0 !important; }

body[data-layout="horizontal"] .navbar-custom {
  padding: 0 10px;
  background: #458bc4; }
  body[data-layout="horizontal"] .navbar-custom .topnav-menu .nav-link {
    color: rgba(255, 255, 255, 0.7); }

body[data-layout="horizontal"] .logo-box {
  display: block;
  width: auto !important;
  margin-right: 40px; }

body[data-layout="horizontal"].enlarged {
  min-height: 100px; }

.wrapper {
  padding: 130px 12px 0 12px; }

#topnav {
  background: #2c3e48;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001; }
  #topnav .arrow-down {
    display: inline-block; }
    #topnav .arrow-down:after {
      border-color: initial;
      border-style: solid;
      border-width: 0 0 1px 1px;
      content: "";
      height: .4em;
      display: inline-block;
      right: 5px;
      top: 50%;
      margin-left: 5px;
      -webkit-transform: rotate(-45deg) translateY(-50%);
              transform: rotate(-45deg) translateY(-50%);
      -webkit-transform-origin: top;
              transform-origin: top;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      width: .4em; }
  #topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    #topnav .navbar-toggle .lines {
      width: 25px;
      display: block;
      position: relative;
      margin: 15px 20px 0 20px;
      padding-top: 13px;
      height: 44px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    #topnav .navbar-toggle span {
      height: 2px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      display: block;
      margin-bottom: 5px;
      transition: -webkit-transform .5s ease;
      -webkit-transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
    #topnav .navbar-toggle.open span {
      position: absolute; }
      #topnav .navbar-toggle.open span:first-child {
        top: 18px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      #topnav .navbar-toggle.open span:nth-child(2) {
        visibility: hidden; }
      #topnav .navbar-toggle.open span:last-child {
        width: 100%;
        top: 18px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  #topnav .has-submenu.active > a {
    color: #fff; }
  #topnav .has-submenu.active .submenu li.active > a {
    color: #c8cddc; }
  #topnav .topbar-menu {
    margin-top: 70px; }

.navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .navigation-menu > li {
    float: left;
    position: relative; }
    .navigation-menu > li > a {
      display: block;
      color: rgba(255, 255, 255, 0.7);
      font-size: 15px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      line-height: 20px;
      padding: 25px 17px;
      position: relative; }
      .navigation-menu > li > a i {
        font-size: 16.2px;
        margin-right: 8px;
        display: inline-block; }
      .navigation-menu > li > a:hover, .navigation-menu > li > a:focus {
        background-color: transparent; }

/*
Responsive Menu
*/
@media (min-width: 992px) {
  body[data-layout=horizontal].enlarged .logo span.logo-lg {
    display: block; }
  body[data-layout=horizontal].enlarged .logo span.logo-sm {
    display: none; }
  .navigation-menu > li > a:hover, .navigation-menu > li > a:focus, .navigation-menu > li > a:active {
    color: #fff; }
  .navigation-menu > li:hover a {
    color: #fff; }
  .navigation-menu > li:first-of-type > a {
    padding-left: 0; }
  .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0; }
    .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
      left: auto;
      right: 100%;
      margin-left: 0;
      margin-right: 10px; }
  .navigation-menu > li > ul > li.has-submenu:active > a, .navigation-menu > li > ul > li.has-submenu:hover > a {
    color: #458bc4; }
  .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid #3e515c;
    background-color: #2c3e48; }
    .navigation-menu > li .submenu li {
      position: relative; }
      .navigation-menu > li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0; }
      .navigation-menu > li .submenu li a {
        display: block;
        padding: 9px 25px;
        clear: both;
        white-space: nowrap;
        color: #6d868c;
        font-size: 14.5px; }
        .navigation-menu > li .submenu li a:hover {
          color: #c8cddc; }
      .navigation-menu > li .submenu li.has-submenu > a .arrow-down:after {
        right: 20px !important;
        -webkit-transform: rotate(-135deg) translateY(-50%) !important;
                transform: rotate(-135deg) translateY(-50%) !important;
        position: absolute; }
      .navigation-menu > li .submenu li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px; }
    .navigation-menu > li .submenu.megamenu {
      white-space: nowrap;
      width: auto; }
      .navigation-menu > li .submenu.megamenu > li {
        overflow: hidden;
        width: 200px;
        display: inline-block;
        vertical-align: top; }
  .navbar-toggle {
    display: none !important; }
  #navigation {
    display: block !important; } }

@media (max-width: 767.98px) {
  body[data-layout="horizontal"] .logo-box {
    display: block; }
  body[data-layout="horizontal"] .logo span.logo-lg {
    display: none; }
  body[data-layout="horizontal"] .logo span.logo-sm {
    display: block; }
  body[data-layout="horizontal"] .navbar-custom {
    padding: 0 0 0 12px; } }

@media (min-width: 768px) {
  .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0; }
    .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
      visibility: visible;
      opacity: 1;
      margin-left: 0px;
      margin-right: 0; }
  .navigation-menu > li.has-submenu.last-elements > .submenu:before {
    right: 11px;
    left: auto; } }

@media (max-width: 991px) {
  .wrapper {
    padding-top: 70px; }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
    text-align: left; }
    #topnav .navigation-menu > li {
      display: block;
      float: none; }
      #topnav .navigation-menu > li > a {
        color: #6d868c;
        padding: 10px 15px; }
        #topnav .navigation-menu > li > a i {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0;
          vertical-align: inherit; }
        #topnav .navigation-menu > li > a:after {
          position: absolute;
          right: 15px; }
      #topnav .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0; }
        #topnav .navigation-menu > li .submenu li a {
          display: block;
          position: relative;
          padding: 7px 20px;
          color: #6d868c; }
          #topnav .navigation-menu > li .submenu li a:hover {
            color: #458bc4; }
        #topnav .navigation-menu > li .submenu.open {
          display: block; }
        #topnav .navigation-menu > li .submenu .submenu {
          display: none;
          list-style: none; }
          #topnav .navigation-menu > li .submenu .submenu.open {
            display: block; }
        #topnav .navigation-menu > li .submenu.megamenu > li > ul {
          list-style: none;
          padding-left: 0; }
      #topnav .navigation-menu > li.has-submenu.open > a {
        color: #458bc4; }
  #topnav .has-submenu.active a {
    color: #458bc4; }
  #topnav .has-submenu.active .submenu li.active > a {
    color: #458bc4; }
  #topnav .arrow-down:after {
    right: 15px;
    position: absolute; }
  #topnav .navbar-header {
    float: left; }
  #navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
    background-color: #2c3e48; }
    #navigation.open {
      display: block;
      overflow-y: auto; } }

.hori-topbar-dark .navbar-custom {
  background: #344955 !important; }

@media (max-height: 375px) {
  .navigation-menu {
    max-height: 240px !important; } }

@media (max-width: 575.98px) {
  body[data-layout="horizontal"] .logo-box {
    margin-right: 0px; }
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 10px; } }

.width-xs {
  min-width: 80px; }

.width-sm {
  min-width: 95px; }

.width-md {
  min-width: 110px; }

.width-lg {
  min-width: 140px; }

.width-xl {
  min-width: 160px; }

.font-family-secondary {
  font-family: "Hind", sans-serif; }

.avatar-xs {
  height: 1.5rem;
  width: 1.5rem; }

.avatar-sm {
  height: 2.25rem;
  width: 2.25rem; }

.avatar-md {
  height: 3.5rem;
  width: 3.5rem; }

.avatar-lg {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-xl {
  height: 6rem;
  width: 6rem; }

.avatar-xxl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.avatar-group {
  padding-left: 12px; }
  .avatar-group .avatar-group-item {
    margin: 0 0 10px -12px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.sp-line-1,
.sp-line-2,
.sp-line-3,
.sp-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.sp-line-1 {
  -webkit-line-clamp: 1; }

.sp-line-2 {
  -webkit-line-clamp: 2; }

.sp-line-3 {
  -webkit-line-clamp: 3; }

.sp-line-4 {
  -webkit-line-clamp: 4; }

.pull-in {
  margin-left: -1.25rem;
  margin-right: -1.25rem; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 4px);
  display: block;
  border: 2px solid #6d868c;
  border-radius: 50%;
  color: #6d868c; }

.member-card .member-thumb {
  position: relative; }

.member-card .member-star {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: #2c3e48;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  font-size: 18px; }

.social-links li a {
  border-radius: 50%;
  color: rgba(109, 134, 140, 0.5);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(109, 134, 140, 0.5);
  text-align: center;
  width: 30px; }
  .social-links li a:hover {
    color: #6d868c;
    border: 2px solid #6d868c; }

@media (min-width: 1200px) {
  .widget-inline-box {
    border-right: 1px solid rgba(222, 226, 230, 0.2); } }

.social-feed-box .social-feed-slider {
  padding-bottom: 50px; }

.social-feed-box .carousel-indicators {
  bottom: 0; }

.widget-box-two {
  margin: 30px -24px 2px -24px;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important; }

.pro-widget-img {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding: 70px 0;
  background-size: cover;
  background: url(../images/bg.jpg) center right no-repeat; }

.inbox-widget .inbox-item {
  overflow: hidden;
  padding: 12px 0px;
  position: relative;
  border-bottom: 1px solid #3e515c; }
  .inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px; }
    .inbox-widget .inbox-item .inbox-item-img img {
      width: 40px; }
  .inbox-widget .inbox-item .inbox-item-text {
    color: #6d868c;
    display: block;
    margin: 0;
    overflow: hidden; }
  .inbox-widget .inbox-item .inbox-item-date {
    color: #ced4da;
    font-size: 0.6875rem;
    position: absolute;
    right: 5px;
    top: 10px; }

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal; }
  .checkbox label::before {
    background-color: #2c3e48;
    border-radius: 3px;
    border: 2px solid #3e515c;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 18px;
    outline: none !important;
    top: 2px; }
  .checkbox label::after {
    color: #dee2e6;
    display: inline-block;
    font-size: 11px;
    height: 18px;
    left: 0;
    margin-left: -18px;
    padding-left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    width: 18px; }

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important; }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none; }

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: table;
  width: 4px;
  height: 8px;
  border: 2px solid #ced4da;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #344852;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute; }

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px; }
  .checkbox.checkbox-single label:before {
    margin-left: 0; }
  .checkbox.checkbox-single label:after {
    margin-left: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #458bc4;
  border-color: #458bc4; }

.checkbox-primary input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-secondary input[type="checkbox"]:checked + label::before {
  background-color: #ced4da;
  border-color: #ced4da; }

.checkbox-secondary input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #4fc55b;
  border-color: #4fc55b; }

.checkbox-success input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #3db9dc;
  border-color: #3db9dc; }

.checkbox-info input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #e2ab3b;
  border-color: #e2ab3b; }

.checkbox-warning input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-teal input[type="checkbox"]:checked + label::before {
  background-color: #23b195;
  border-color: #23b195; }

.checkbox-teal input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d57171;
  border-color: #d57171; }

.checkbox-danger input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-light input[type="checkbox"]:checked + label::before {
  background-color: #344852;
  border-color: #344852; }

.checkbox-light input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-dark input[type="checkbox"]:checked + label::before {
  background-color: #dee2e6;
  border-color: #dee2e6; }

.checkbox-dark input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-purple input[type="checkbox"]:checked + label::before {
  background-color: #aa81f3;
  border-color: #aa81f3; }

.checkbox-purple input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-pink input[type="checkbox"]:checked + label::before {
  background-color: #ff8acc;
  border-color: #ff8acc; }

.checkbox-pink input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.radio label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal; }
  .radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #2c3e48;
    border-radius: 50%;
    border: 2px solid #3e515c;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 18px;
    outline: none !important; }
  .radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #ced4da;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 4px;
    transform: scale(0, 0);
    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 10px; }

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important; }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65; }

.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted; }

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio.radio-inline {
  margin-top: 0; }

.radio.radio-single label {
  height: 18px;
  width: 18px; }

.radio-primary input[type="radio"] + label::after {
  background-color: #458bc4; }

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #458bc4; }

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #458bc4; }

.radio-secondary input[type="radio"] + label::after {
  background-color: #ced4da; }

.radio-secondary input[type="radio"]:checked + label::before {
  border-color: #ced4da; }

.radio-secondary input[type="radio"]:checked + label::after {
  background-color: #ced4da; }

.radio-success input[type="radio"] + label::after {
  background-color: #4fc55b; }

.radio-success input[type="radio"]:checked + label::before {
  border-color: #4fc55b; }

.radio-success input[type="radio"]:checked + label::after {
  background-color: #4fc55b; }

.radio-info input[type="radio"] + label::after {
  background-color: #3db9dc; }

.radio-info input[type="radio"]:checked + label::before {
  border-color: #3db9dc; }

.radio-info input[type="radio"]:checked + label::after {
  background-color: #3db9dc; }

.radio-warning input[type="radio"] + label::after {
  background-color: #e2ab3b; }

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #e2ab3b; }

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #e2ab3b; }

.radio-teal input[type="radio"] + label::after {
  background-color: #23b195; }

.radio-teal input[type="radio"]:checked + label::before {
  border-color: #23b195; }

.radio-teal input[type="radio"]:checked + label::after {
  background-color: #23b195; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d57171; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d57171; }

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d57171; }

.radio-light input[type="radio"] + label::after {
  background-color: #344852; }

.radio-light input[type="radio"]:checked + label::before {
  border-color: #344852; }

.radio-light input[type="radio"]:checked + label::after {
  background-color: #344852; }

.radio-dark input[type="radio"] + label::after {
  background-color: #dee2e6; }

.radio-dark input[type="radio"]:checked + label::before {
  border-color: #dee2e6; }

.radio-dark input[type="radio"]:checked + label::after {
  background-color: #dee2e6; }

.radio-purple input[type="radio"] + label::after {
  background-color: #aa81f3; }

.radio-purple input[type="radio"]:checked + label::before {
  border-color: #aa81f3; }

.radio-purple input[type="radio"]:checked + label::after {
  background-color: #aa81f3; }

.radio-pink input[type="radio"] + label::after {
  background-color: #ff8acc; }

.radio-pink input[type="radio"]:checked + label::before {
  border-color: #ff8acc; }

.radio-pink input[type="radio"]:checked + label::after {
  background-color: #ff8acc; }

@media print {
  .left-side-menu,
  .right-bar,
  .page-title-box,
  .navbar-custom,
  .footer {
    display: none; }
  .card-body,
  .content-page,
  .right-bar,
  .content,
  body {
    padding: 0;
    margin: 0;
    border: 0; } }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.waves-effect.waves-primary .waves-ripple {
  background: rgba(69, 139, 196, 0.4); }

.waves-effect.waves-secondary .waves-ripple {
  background: rgba(206, 212, 218, 0.4); }

.waves-effect.waves-success .waves-ripple {
  background: rgba(79, 197, 91, 0.4); }

.waves-effect.waves-info .waves-ripple {
  background: rgba(61, 185, 220, 0.4); }

.waves-effect.waves-warning .waves-ripple {
  background: rgba(226, 171, 59, 0.4); }

.waves-effect.waves-teal .waves-ripple {
  background: rgba(35, 177, 149, 0.4); }

.waves-effect.waves-danger .waves-ripple {
  background: rgba(213, 113, 113, 0.4); }

.waves-effect.waves-light .waves-ripple {
  background: rgba(52, 72, 82, 0.4); }

.waves-effect.waves-dark .waves-ripple {
  background: rgba(222, 226, 230, 0.4); }

.waves-effect.waves-purple .waves-ripple {
  background: rgba(170, 129, 243, 0.4); }

.waves-effect.waves-pink .waves-ripple {
  background: rgba(255, 138, 204, 0.4); }

.slimScrollDiv {
  height: auto !important; }

.swal2-modal {
  font-family: "Noto Sans", sans-serif;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1); }
  .swal2-modal .swal2-title {
    font-size: 24px; }
  .swal2-modal .swal2-content {
    font-size: 16px; }
  .swal2-modal .swal2-spacer {
    margin: 10px 0; }
  .swal2-modal .swal2-file, .swal2-modal .swal2-input, .swal2-modal .swal2-textarea {
    border: 2px solid #3e515c;
    font-size: 16px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .swal2-modal .swal2-confirm.btn-confirm {
    background-color: #458bc4 !important;
    font-size: 0.875rem; }
  .swal2-modal .swal2-cancel.btn-cancel {
    background-color: #d57171 !important;
    font-size: 0.875rem; }
  .swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.swal2-icon.swal2-question {
  color: #458bc4;
  border-color: #458bc4; }

.swal2-icon.swal2-success {
  border-color: #4fc55b; }
  .swal2-icon.swal2-success .line, .swal2-icon.swal2-success [class^=swal2-success-line][class$=long],
  .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #4fc55b; }
  .swal2-icon.swal2-success .placeholder, .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #4fc55b; }

.swal2-icon.swal2-warning {
  color: #e2ab3b;
  border-color: #e2ab3b; }

.swal2-icon.swal2-error {
  border-color: #d57171; }
  .swal2-icon.swal2-error .line {
    background-color: #d57171; }

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #458bc4; }

.swal2-container.swal2-shown {
  background-color: rgba(222, 226, 230, 0.9); }

.irs--modern .irs-bar, .irs--modern .irs-to, .irs--modern .irs-from, .irs--modern .irs-single {
  background: #458bc4 !important; }

.irs--modern .irs-to:before, .irs--modern .irs-from:before, .irs--modern .irs-single:before {
  border-top-color: #458bc4; }

.irs--modern .irs-line {
  background: #3e515c;
  border-color: #3e515c; }

.irs--modern .irs-min, .irs--modern .irs-max {
  color: #6d868c;
  background: #3e515c; }

.irs--modern .irs-grid-text {
  font-size: 12px;
  color: #7a7d84; }

.irs--modern .irs-handle > i:nth-child(1) {
  width: 8px;
  height: 8px; }

/* Bootstrap tagsinput */
.bootstrap-tagsinput {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 4px 7px 4px;
  width: 100%;
  background-color: #30434e;
  border-color: #3e515c; }
  .bootstrap-tagsinput input {
    color: #ced4da; }
    .bootstrap-tagsinput input::-webkit-input-placeholder {
      color: #ced4da; }
    .bootstrap-tagsinput input::-moz-placeholder {
      color: #ced4da; }
    .bootstrap-tagsinput input:-ms-input-placeholder {
      color: #ced4da; }
    .bootstrap-tagsinput input::-ms-input-placeholder {
      color: #ced4da; }
    .bootstrap-tagsinput input::placeholder {
      color: #ced4da; }
  .bootstrap-tagsinput .label-info {
    background-color: #458bc4;
    display: inline-block;
    font-size: 11px;
    margin: 3px 1px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 500; }

.select2-container {
  width: 100% !important; }
  .select2-container .select2-selection--single {
    background-color: #30434e;
    border: 1px solid #3e515c;
    height: 38px;
    outline: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px;
      color: #ced4da; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        border-color: #ced4da transparent transparent transparent;
        border-width: 6px 6px 0 6px; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #ced4da transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: #344955;
  background-color: #2c3e48;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15); }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #2c3e48; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #3e515c;
    background-color: #30434e;
    color: #ced4da;
    outline: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #458bc4; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #3e515c;
  color: #e8e8e8; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #458bc4;
    color: #fff; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: #30434e;
  border: 1px solid #3e515c !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #ced4da; }
    .select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
      color: #ced4da; }
    .select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
      color: #ced4da; }
    .select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
      color: #ced4da; }
    .select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
      color: #ced4da; }
    .select2-container .select2-selection--multiple .select2-search__field::placeholder {
      color: #ced4da; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #458bc4;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 7px; }
  .select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px; }
    .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #fff; }

.bootstrap-timepicker-widget table td input {
  border: 1px solid rgba(222, 226, 230, 0.3);
  width: 35px;
  background-color: #30434e;
  color: #ced4da; }

.bootstrap-timepicker-widget table td a {
  color: #6d868c; }
  .bootstrap-timepicker-widget table td a:hover {
    background-color: #30434e;
    border-color: #30434e; }

.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom-color: #2c3e48; }

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  border-top-color: #2c3e48; }

.datepicker {
  padding: 10px !important; }
  .datepicker td,
  .datepicker th {
    width: 30px;
    height: 30px;
    padding: 5px; }
  .datepicker th {
    font-weight: 600; }
  .datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover,
  .datepicker table tr td .active.disabled:hover[disabled],
  .datepicker table tr td .active.disabled[disabled],
  .datepicker table tr td .active:active,
  .datepicker table tr td .active:hover,
  .datepicker table tr td .active:hover.active,
  .datepicker table tr td .active:hover.disabled,
  .datepicker table tr td .active:hover:active,
  .datepicker table tr td .active:hover:hover,
  .datepicker table tr td .active:hover[disabled],
  .datepicker table tr td .active[disabled],
  .datepicker table tr td span.active.active,
  .datepicker table tr td span.active.disabled,
  .datepicker table tr td span.active.disabled.active,
  .datepicker table tr td span.active.disabled.disabled,
  .datepicker table tr td span.active.disabled:active,
  .datepicker table tr td span.active.disabled:hover,
  .datepicker table tr td span.active.disabled:hover.active,
  .datepicker table tr td span.active.disabled:hover.disabled,
  .datepicker table tr td span.active.disabled:hover:active,
  .datepicker table tr td span.active.disabled:hover:hover,
  .datepicker table tr td span.active.disabled:hover[disabled],
  .datepicker table tr td span.active.disabled[disabled],
  .datepicker table tr td span.active:active,
  .datepicker table tr td span.active:hover,
  .datepicker table tr td span.active:hover.active,
  .datepicker table tr td span.active:hover.disabled,
  .datepicker table tr td span.active:hover:active,
  .datepicker table tr td span.active:hover:hover,
  .datepicker table tr td span.active:hover[disabled],
  .datepicker table tr td span.active[disabled], .datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover, .datepicker table tr td.selected {
    background-color: #458bc4 !important;
    background-image: none !important;
    color: #fff; }
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover,
  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    background: #2c3e48; }
  .datepicker table tr td.new, .datepicker table tr td.old,
  .datepicker table tr td span.new,
  .datepicker table tr td span.old {
    color: #6d868c;
    opacity: 0.6; }
  .datepicker table tr td.range, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover {
    background-color: #344955; }
  .datepicker .datepicker-switch:hover,
  .datepicker .next:hover,
  .datepicker .prev:hover,
  .datepicker tfoot tr th:hover {
    background: #2c3e48; }
  .datepicker .datepicker-switch:hover {
    background: none; }

.datepicker-inline {
  border: 2px solid rgba(222, 226, 230, 0.1); }

.datepicker-dropdown:after {
  border-bottom: 6px solid #2c3e48; }

.datepicker-dropdown:before {
  border-bottom-color: #344955; }

.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid #344955; }

.datepicker-dropdown.datepicker-orient-top:after {
  border-top: 6px solid #2c3e48; }

.daterangepicker {
  font-family: "Noto Sans", sans-serif;
  background-color: #2c3e48;
  border-color: #3e515c; }
  .daterangepicker .calendar-table {
    background-color: #2c3e48;
    border-color: #3e515c; }
    .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
      border-color: #6d868c; }
  .daterangepicker th, .daterangepicker td {
    padding: 5px; }
    .daterangepicker th.week, .daterangepicker td.week {
      color: #7a7d84; }
    .daterangepicker th.available:hover, .daterangepicker td.available:hover {
      background-color: #344955; }
  .daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker .ranges li.active {
    background-color: #458bc4; }
  .daterangepicker .ranges li:hover {
    background-color: #3e515c; }
  .daterangepicker .month select, .daterangepicker .calendar-time select {
    background-color: #30434e;
    border-color: #3e515c;
    color: #ced4da; }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: transparent;
    color: rgba(122, 125, 132, 0.7); }
  .daterangepicker td.in-range {
    background-color: #344955;
    color: #ced4da; }
  .daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left-color: #3e515c; }
  .daterangepicker .drp-buttons {
    border-top-color: #3e515c; }
    .daterangepicker .drp-buttons .btn {
      font-weight: 500; }

.clockpicker-popover .popover-title {
  font-size: 16px;
  font-weight: 600;
  background-color: #3c535e; }

.clockpicker-popover .popover-content {
  background-color: #465c68; }

.clockpicker-popover .clockpicker-plate {
  background-color: #3c535e;
  border-color: #344955; }

.clockpicker-popover .clockpicker-tick {
  color: #6d868c; }

.clockpicker-popover .btn-default {
  background-color: #458bc4;
  color: #fff; }

/* =============
   Form validation
============= */
.parsley-errors-list {
  margin: 0;
  padding: 0; }
  .parsley-errors-list > li {
    list-style: none;
    color: #d57171;
    margin-top: 5px;
    padding-left: 20px;
    position: relative; }
    .parsley-errors-list > li:before {
      content: "\F159";
      font-family: "Material Design Icons";
      position: absolute;
      left: 2px;
      top: -1px; }

.parsley-error {
  border-color: #d57171; }

.parsley-success {
  border-color: #4fc55b; }

@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/summernote.eot");
  src: url("../fonts/summernote.eot?#iefix") format("embedded-opentype"), url("../fonts/summernote.woff?") format("woff"), url("../fonts/summernote.ttf?") format("truetype"); }

.note-editor.note-frame {
  border: 1px solid #344955;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }
  .note-editor.note-frame .note-statusbar {
    background-color: #344955;
    border-top: 1px solid #2c3e48; }
  .note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-codable {
    border: none;
    color: #ced4da;
    background-color: transparent; }

.note-editor .note-btn-group .note-btn {
  background-color: #344955 !important;
  border-color: #344955 !important; }

.note-status-output {
  display: none; }

.note-editable {
  border-radius: 0.2rem;
  padding: 0.45rem 0.9rem; }
  .note-editable p:last-of-type {
    margin-bottom: 0; }

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px; }

.note-popover {
  border-color: #3e515c; }

.note-popover .popover-content,
.card-header.note-toolbar {
  background-color: #344955; }

.note-toolbar {
  z-index: 1; }

.dataTables_wrapper.container-fluid {
  padding: 0; }

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important; }
  table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #458bc4; }
  table.dataTable tbody td:focus {
    outline: none !important; }
  table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    outline: 2px solid #458bc4 !important;
    outline-offset: -1px;
    color: #458bc4;
    background-color: rgba(69, 139, 196, 0.15); }

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  background-color: #458bc4;
  top: 0.75rem; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #d57171;
  top: 0.75rem; }

div.dt-button-info {
  background-color: #458bc4;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21; }
  div.dt-button-info h2 {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }

@media (max-width: 767.98px) {
  li.paginate_button.previous, li.paginate_button.next {
    display: inline-block; }
  li.paginate_button {
    display: none; }
  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1rem 0 0 !important; }
  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1rem; } }

.activate-select .sorting_1 {
  background-color: #344852; }

.flotTip {
  padding: 8px 12px;
  background-color: rgba(222, 226, 230, 0.9);
  z-index: 100;
  color: #344852;
  opacity: 1;
  border-radius: 3px; }

.legend tr {
  height: 20px;
  font-family: "Hind", sans-serif; }

.legendLabel {
  padding-left: 5px;
  line-height: 10px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #ced4da; }

.legendColorBox div {
  border-radius: 3px; }
  .legendColorBox div div {
    border-radius: 3px; }

@media (max-width: 767.98px) {
  .legendLabel {
    display: none; } }

.morris-chart text {
  font-family: "Hind", sans-serif !important;
  font-weight: 600 !important;
  fill: #6d868c; }

.morris-hover {
  position: absolute;
  z-index: 10; }
  .morris-hover.morris-default-style {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 12px;
    background: rgba(52, 72, 82, 0.8);
    color: #dee2e6;
    border: 2px solid #344852;
    font-family: "Noto Sans", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-row-label {
      font-weight: bold;
      margin: 0.25em 0;
      font-family: "Hind", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-point {
      white-space: nowrap;
      margin: 0.1em 0;
      color: #fff; }

.calendar {
  float: left;
  margin-bottom: 0; }

.fc-view {
  margin-top: 30px; }

.none-border .modal-footer {
  border-top: none; }

.fc-toolbar {
  margin: 15px 0 5px 0; }
  .fc-toolbar h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-transform: uppercase; }

.fc-day-grid-event .fc-time {
  font-weight: 500; }

.fc-day {
  background: transparent; }

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc th.fc-widget-header {
  background: #344852;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase; }

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #344852; }

.fc-unthemed td.fc-today, .fc-unthemed .fc-divider {
  background: #344852 !important; }

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  margin: 5px;
  font-family: "Hind", sans-serif;
  font-size: 12px; }

.fc-button {
  background: #344852;
  border: none;
  color: #dee2e6;
  text-transform: capitalize;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 3px !important;
  margin: 0 3px !important;
  padding: 6px 12px !important;
  height: auto !important; }

.fc-text-arrow {
  font-family: inherit;
  font-size: 1rem; }

.fc-state-hover {
  background: #344852; }

.fc-state-highlight {
  background: #344852; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background: #458bc4;
  color: #fff;
  text-shadow: none; }

.fc-cell-overlay {
  background: #344852; }

.fc-unthemed .fc-today {
  background: #fff; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center; }

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff; }

.fc-basic-view td.fc-week-number span {
  padding-right: 8px; }

.fc-basic-view td.fc-day-number {
  padding-right: 8px; }

.fc-basic-view .fc-content {
  color: #fff; }

.fc-time-grid-event .fc-content {
  color: #fff; }

@media (max-width: 767.98px) {
  .fc-toolbar .fc-left, .fc-toolbar .fc-right, .fc-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
    margin: 10px 0; }
  .fc .fc-toolbar > * > * {
    float: none; }
  .fc-today-button {
    display: none; } }

/* =============
   Maps
============= */
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #458bc4;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #458bc4; }

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #458bc4; }

.gmaps-full {
  z-index: 99;
  margin: 0 -20px -10px -20px; }
  .gmaps-full .gmaps-full1 {
    height: 80vh;
    width: 100%; }

.jvectormap-label {
  border: none;
  background: #f5f5f5;
  color: #2c3e48;
  font-family: "Hind", sans-serif;
  font-size: 0.875rem;
  padding: 5px 8px; }

.button-list {
  margin-left: -8px;
  margin-bottom: -12px; }
  .button-list .btn {
    margin-bottom: 12px;
    margin-left: 8px; }

/* Dropcap */
.dropcap {
  font-size: 3.1em; }

.dropcap, .dropcap-circle, .dropcap-square {
  display: block;
  float: left;
  line-height: 46px;
  margin-right: 6px;
  text-shadow: none; }

.icon-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden; }
  .icon-list-demo div p {
    margin-bottom: 0;
    line-height: inherit; }

.icon-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: 1px solid #465c68;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.icon-list-demo .col-lg-4 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 10px; }
  .icon-list-demo .col-lg-4:hover i {
    color: #458bc4; }

.demos-show-btn {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 600;
  background-color: #d57171;
  color: #fff !important;
  line-height: 36px;
  padding: 15px 3px;
  border-radius: 6px 0 0 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase; }

@media (max-width: 600px) {
  .demos-show-btn {
    display: none; } }

.authentication-page {
  padding-bottom: 0px; }
  .authentication-page.enlarged {
    min-height: 100px; }

/* =============
   Timeline
============= */
.timeline {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 50px;
  position: relative;
  table-layout: fixed;
  width: 100%; }
  .timeline .time-show {
    margin-bottom: 30px;
    margin-right: -75px;
    margin-top: 30px;
    position: relative; }
    .timeline .time-show a {
      color: #fff; }
  .timeline:before {
    background-color: rgba(109, 134, 140, 0.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 2px;
    z-index: 0; }
  .timeline .btn {
    min-width: 150px; }
  .timeline .timeline-icon {
    -webkit-border-radius: 50%;
    background: #6d868c;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 20px;
    left: -53px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px; }
    .timeline .timeline-icon i {
      color: #fff;
      font-size: 13px;
      margin-top: 1px;
      position: absolute;
      left: 3px; }
  .timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px; }

h3.timeline-title {
  color: #6d868c;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: uppercase; }

.timeline-item {
  display: table-row; }
  .timeline-item:before {
    content: "";
    display: block;
    width: 50%; }
  .timeline-item .timeline-desk .arrow {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #344955;
    border-top: 12px solid transparent;
    display: block;
    height: 0;
    left: -12px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 0; }
  .timeline-item .timeline-desk .timeline-box {
    padding: 20px; }
  .timeline-item .timeline-date {
    margin-bottom: 10px; }

.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%; }

.timeline-item.alt .timeline-desk .arrow-alt {
  border-bottom: 12px solid transparent;
  border-left: 12px solid #344955;
  border-top: 12px solid transparent;
  display: block;
  height: 0;
  left: auto;
  margin-top: -12px;
  position: absolute;
  right: -12px;
  top: 50%;
  width: 0; }

.timeline-item.alt .timeline-desk .album {
  float: right;
  margin-top: 20px; }
  .timeline-item.alt .timeline-desk .album a {
    float: right;
    margin-left: 5px; }

.timeline-item.alt .timeline-icon {
  left: auto;
  right: -56px; }

.timeline-item.alt:before {
  display: none; }

.timeline-item.alt .panel {
  margin-left: 0;
  margin-right: 45px; }

.timeline-item.alt h4 {
  text-align: right; }

.timeline-item.alt p {
  text-align: right; }

.timeline-item.alt .timeline-date {
  text-align: right; }

.timeline-desk {
  display: table-cell;
  vertical-align: top;
  width: 50%; }
  .timeline-desk h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0; }
  .timeline-desk .panel {
    background: #344955;
    display: block;
    margin-bottom: 5px;
    margin-left: 45px;
    position: relative;
    text-align: left;
    border: 0;
    border-radius: 5px; }
  .timeline-desk h5 span {
    color: #6d868c;
    display: block;
    font-size: 12px;
    margin-bottom: 4px; }
  .timeline-desk p {
    margin-bottom: 0; }
  .timeline-desk .album {
    margin-top: 12px; }
    .timeline-desk .album a {
      float: left;
      margin-right: 5px; }
    .timeline-desk .album img {
      height: 36px;
      width: auto;
      border-radius: 3px; }
  .timeline-desk .notification {
    background: none repeat scroll 0 0 #fff;
    margin-top: 20px;
    padding: 8px; }

.timeline-left {
  margin-left: 20px;
  width: auto;
  display: block; }
  .timeline-left:before {
    left: 0 !important; }
  .timeline-left .timeline-item {
    display: block; }
  .timeline-left .timeline-desk {
    display: block;
    width: 100%; }
  .timeline-left .panel {
    margin-bottom: 20px; }

.ribbon-box {
  position: relative;
  /* Ribbon two */ }
  .ribbon-box .ribbon-rounded {
    position: absolute;
    top: 15px;
    left: -12px;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold; }
  .ribbon-box .ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    text-transform: uppercase; }
    .ribbon-box .ribbon-two span {
      font-size: 13px;
      color: #fff;
      font-family: "Hind", sans-serif;
      text-align: center;
      line-height: 20px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 100px;
      display: block;
      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
      position: absolute;
      top: 19px;
      left: -21px; }
      .ribbon-box .ribbon-two span:before {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent; }
      .ribbon-box .ribbon-two span:after {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent; }
  .ribbon-box .ribbon-two-primary span {
    background: #458bc4; }
    .ribbon-box .ribbon-two-primary span:before {
      border-left: 3px solid #2d638f;
      border-top: 3px solid #2d638f; }
    .ribbon-box .ribbon-two-primary span:after {
      border-right: 3px solid #2d638f;
      border-top: 3px solid #2d638f; }
  .ribbon-box .ribbon-two-secondary span {
    background: #ced4da; }
    .ribbon-box .ribbon-two-secondary span:before {
      border-left: 3px solid #a2aeb9;
      border-top: 3px solid #a2aeb9; }
    .ribbon-box .ribbon-two-secondary span:after {
      border-right: 3px solid #a2aeb9;
      border-top: 3px solid #a2aeb9; }
  .ribbon-box .ribbon-two-success span {
    background: #4fc55b; }
    .ribbon-box .ribbon-two-success span:before {
      border-left: 3px solid #31963c;
      border-top: 3px solid #31963c; }
    .ribbon-box .ribbon-two-success span:after {
      border-right: 3px solid #31963c;
      border-top: 3px solid #31963c; }
  .ribbon-box .ribbon-two-info span {
    background: #3db9dc; }
    .ribbon-box .ribbon-two-info span:before {
      border-left: 3px solid #1f8ead;
      border-top: 3px solid #1f8ead; }
    .ribbon-box .ribbon-two-info span:after {
      border-right: 3px solid #1f8ead;
      border-top: 3px solid #1f8ead; }
  .ribbon-box .ribbon-two-warning span {
    background: #e2ab3b; }
    .ribbon-box .ribbon-two-warning span:before {
      border-left: 3px solid #b6831b;
      border-top: 3px solid #b6831b; }
    .ribbon-box .ribbon-two-warning span:after {
      border-right: 3px solid #b6831b;
      border-top: 3px solid #b6831b; }
  .ribbon-box .ribbon-two-teal span {
    background: #23b195; }
    .ribbon-box .ribbon-two-teal span:before {
      border-left: 3px solid #16715f;
      border-top: 3px solid #16715f; }
    .ribbon-box .ribbon-two-teal span:after {
      border-right: 3px solid #16715f;
      border-top: 3px solid #16715f; }
  .ribbon-box .ribbon-two-danger span {
    background: #d57171; }
    .ribbon-box .ribbon-two-danger span:before {
      border-left: 3px solid #c13939;
      border-top: 3px solid #c13939; }
    .ribbon-box .ribbon-two-danger span:after {
      border-right: 3px solid #c13939;
      border-top: 3px solid #c13939; }
  .ribbon-box .ribbon-two-light span {
    background: #344852; }
    .ribbon-box .ribbon-two-light span:before {
      border-left: 3px solid #161f23;
      border-top: 3px solid #161f23; }
    .ribbon-box .ribbon-two-light span:after {
      border-right: 3px solid #161f23;
      border-top: 3px solid #161f23; }
  .ribbon-box .ribbon-two-dark span {
    background: #dee2e6; }
    .ribbon-box .ribbon-two-dark span:before {
      border-left: 3px solid #b2bcc5;
      border-top: 3px solid #b2bcc5; }
    .ribbon-box .ribbon-two-dark span:after {
      border-right: 3px solid #b2bcc5;
      border-top: 3px solid #b2bcc5; }
  .ribbon-box .ribbon-two-purple span {
    background: #aa81f3; }
    .ribbon-box .ribbon-two-purple span:before {
      border-left: 3px solid #7b3bec;
      border-top: 3px solid #7b3bec; }
    .ribbon-box .ribbon-two-purple span:after {
      border-right: 3px solid #7b3bec;
      border-top: 3px solid #7b3bec; }
  .ribbon-box .ribbon-two-pink span {
    background: #ff8acc; }
    .ribbon-box .ribbon-two-pink span:before {
      border-left: 3px solid #ff3eab;
      border-top: 3px solid #ff3eab; }
    .ribbon-box .ribbon-two-pink span:after {
      border-right: 3px solid #ff3eab;
      border-top: 3px solid #ff3eab; }
